.aroundCard{
  display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 30px;
  margin: 0;
  
}

.col1{
    display: grid;
    grid-template-rows: auto;
    justify-content:center;
    gap: 40px;
}
.col1 img{
width: 350px;
box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
}

.col1 button{
    width: 80px;
    height: 25px;
    box-shadow:  0 2px 4px rgba(0, 0, 0, 0.2);
    background-color:  var(--article-color);
    border: none;
    border-radius: 1px;
    color: var( --text-color);
    padding-left: 10px ;
    padding-right: 10px ;
}

.col1 button p{
 padding-left: 5px;
 display: inline;

}

.col2{
    display: grid;
  grid-template-columns: 1fr;
  gap: 40px;
  padding: 0px 10px;
  margin: 0;
}


.col21 h3{
  font-weight: 800;
padding-bottom: 15px;
font-size: larger;

}

.col21 p{
    margin-bottom: 7px;
}

.col22 p{
    margin-bottom: 7px;
}